<mat-toolbar color="primary" class="mat-elevation-z11">
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cosmic</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="icon">settings</mat-icon>
        Configurações
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon class="icon">logout</mat-icon>
        Sair
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="space"></div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="opened" class="sidenav">
    <!-- Conteúdo do sidenav aqui -->
    <mat-divider></mat-divider>
    <mat-nav-list class="nav-list">
      <a *ngFor="let item of items_menu" mat-list-item routerLink="{{item.link}}" routerLinkActive="active" class="list-item">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <!-- Conteúdo principal aqui -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
