<mat-toolbar color="primary" class="mat-elevation-z11">
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cosmic</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="icon">settings</mat-icon>
        Configurações
      </button>
      <button mat-menu-item>
        <mat-icon class="icon">logout</mat-icon>
        Sair
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="opened">
    <!-- Conteúdo do sidenav aqui -->
    Sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <!-- Conteúdo principal aqui -->
      Conteudo
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
